/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  background-color: #0056b3; /* Laranja escuro para o cabeçalho */
  padding: 10px 0; /* Ajuste conforme necessário */
}

header img,
header h1 {
  background-color: #0056b3; /* Laranja mais escuro para o logotipo e título */
  padding: 5px 10px; /* Ajuste conforme necessário */
  border-radius: 5px; /* Borda arredondada para o logotipo e título */
  color: #fff; /* Cor do texto branco */
}

header img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px; /* Ajuste conforme necessário */
  height: auto;
}

header h1 {
  display: inline-block;
  margin-left: 80px; /* Ajuste conforme necessário */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

footer p {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #6f00ff; /* Cor azul claro para os links */
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #8f05f2; /* Cor azul claro para h3 */
}
